#include "resource.h"

// ClipHub Windows 7 Resource Script
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "ClipHub Open Source Project"
            VALUE "FileDescription", "ClipHub - Ultra-Lightweight Windows 7 Clipboard Manager"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "ClipHub"
            VALUE "LegalCopyright", "Copyright (c) 2026 ClipHub Contributors"
            VALUE "OriginalFilename", "ClipHub.exe"
            VALUE "ProductName", "ClipHub"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
